.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.nav-left{
    display: flex;
    align-items: center;
}
.logo{
    font-size: 2.5rem !important;
}

.header{
    margin-left: 1rem;
    color:#7A9EA7;
}

.inlineheader {
    display: inline;
    font-size: 1.5rem;
    margin-left: 0.2rem;
    color:#5f6168;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-link{
    margin-right: 1.5rem;
    cursor: pointer; /*Clickable property*/
    
}

.nav-link:hover{
    border-bottom: 1px solid #7A9EA7;
}
.links{
    font-weight: 400;
}

.resize {
    margin-left: 1rem;
    width: 50px;
    height: auto;
}