.personal-info-update-form {
    text-align: center;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
  
  
  #title {
    text-align: center;
  }
  
  #employee {
    border-collapse: collapse;
    border: 3px solid #ddd;
    text-align: center;
  }
  
  #employee td,
  #employee th {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  #employee tr:hover {
    background-color: #ddd;
  }
  
  #employee th {
    padding: 10px;
    text-align: center;
    background-color: #7A9EA7;
    color: white;
  }
  
  .opration {
    text-align: left;
  }
  
  .button {
    border: none;
    outline: none;
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: #f44336;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f44336;
    background-color: transparent;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
  }
  
  .button:active {
    border: 1px solid blue;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-flow:column;
    border-radius: 100px;
  }
  
  .buttonUpdate {
    border: none;
    outline: none;
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: darkgreen;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid darkgreen;
    background-color: transparent;
    margin-top: 0.5rem;
  }