.product {
    width: 200px;
    padding: 1rem;
    background: #fff;
    cursor: pointer;
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    border: 0.1rem #ddd solid;
  }
  
  .product img {
    max-width: 130px;
    min-width: 130px;
    max-height: 210px;
    min-height: 210px; 
  }
  
  .product__info p {
    margin-bottom: 2px;
  }
  
  .info__price {
    font-weight: bold;
  }
  
  .info__name {
    font-size: 1rem;
    overflow: hidden;
    font-weight: bold;
  }

  .info__author {
    font-size: 0.9rem;
  }

  .info__description {
    font-size: 0.8rem;
  }

  
  .info__button {
  background-color: #7A9EA7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  width: fit-content;
  font-size: 16px;
  padding: 1px 10px;
  cursor: pointer;
  bottom: 10px;
  border-radius: 50px;
  }

  .info__button:hover{
    background: #7A9EA7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    transform: translateY(-3px);
  }

  @media (max-width: 1232px) {
    .product {
      width: 360px;
    }
  }
  
  @media (max-width: 1115px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 1028px) {
    .product {
      width: 300px;
    }
  }
  
  @media (max-width: 950px) {
    .product {
      width: 400px;
    }
  }
  
  @media (max-width: 830px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 700px) {
    .product {
      width: 290px;
    }
  }
  
  @media (max-width: 630px) {
    .product {
      width: 450px;
    }
  }
  
  @media (max-width: 500px) {
    .product {
      width: 350px;
    }
  }
  
  @media (max-width: 400px) {
    .product {
      width: 300px;
    }
  }