.cartscreen {
  max-width: 50rem;
  margin: 2rem auto;
}
 
.cartscreen__center {
  margin:5rem;
  flex:auto;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  background: transparent;  
  text-align: center;
}
 
.cartscreen__info {
  border: 0.1rem #ddd solid;
  flex-wrap:wrap;
  display:flexbox;
  padding: 1rem;
}

.cartscreen__info button{
  position:inherit;
}

.cartscreen__info p {
  padding: 8px;
  flex-wrap: wrap;
}

.comments {
  padding: 8px;
}

.cartscreen__info_saved{
  border: 0.1rem #ddd solid;
  flex-wrap:wrap;
  display:flexbox;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 1rem;
}

.cartscreen__info_saved button{
  position:inherit;
}
  
.cartscreen hr {
  border: none;
  height: 1px;
  align-items: center;
  margin-left:4rem;
  margin-right:4rem;
  width:inherit;
  align-self:inherit;
  color: #ddd;
  background-color: #ddd;
}

.subtotal {
  inline-size: auto;
  font-weight: bold;
  display: inline;
  text-align: right;
  justify-self: right;
  justify-content: right;
  margin-right: 3;
  margin-left: 40;
}

.right-subtotal {
  text-align: right;
  justify-self: right;
  justify-content: right;
  align-self: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 4rem; 
}

.number_of_items_saved{
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-self: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cart_button {
  background-color: #7A9EA7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  margin-top: 1rem;
  width: fit-content;
  font-size: 16px;
  padding: 1px 10px;
  cursor: pointer;
  bottom: 10px;
  border-radius: 50px;
}

.cart_button_checkout{
  background-color: #7A9EA7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  margin-top: 1rem;
  width: fit-content;
  font-size: 16px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  bottom: 10px;
  border-radius: 50px;
}
.cart_button_checkout[disabled]{
  background-color: #b4b6bb;
  color: #555;
}

.centered_cart {
  text-align: center;
  margin: 4rem;
}

.cart_button_checkout[disabled]:hover {
  transform: none;
  background-color: #b4b6bb;
  cursor: not-allowed;
  pointer-events: all !important;
  box-shadow: none;
}

.cart_button:hover,
.cart_button_checkout:hover {
  background: #7A9EA7;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  transform: translateY(-3px);
}

.centered {
  margin: 3rem;
  text-align: center;
}

.centered_saved {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
