.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
  }
  
  .homescreen__title {
    font-size: 1.5rem;
    color:rgb(63, 64, 65);
    margin:3rem;
    text-align: center;
  }

  .circular_progress{
    margin-left: 20rem;
  }
  
  .homescreen__products {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
  }
  
  @media (max-width: 1232px) {
    .homescreen__products {
      grid-template-columns: repeat(3, auto);
    }
  }
  
  @media (max-width: 950px) {
    .homescreen__products {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 630px) {
    .homescreen__products {
      grid-template-columns: 1fr;
    }
  }