
    .view_cart_button button, .continue_cart_button button{
        background-color: #7A9EA7;
        color: white;
        border: none;
        text-align: center;
        text-decoration: none;
        display:inline-block;
        width: 10rem;
        font-size: 16px;
        padding: 10px 12px;
        border-radius: 50px;
        cursor: pointer;
        bottom: 10px;
      }

  .view_cart_button button:hover,.continue_cart_button button:hover {
     background: #648188;
  }

  .keep_shopping_button button,.cancel_cart_button button{
    background-color: #b7c6c9;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    width: 10rem;
    font-size: 16px;
    padding: 10px 12px;
    border-radius: 50px;
    cursor: pointer;
    bottom: 10px;
  }
  .keep_shopping_button button:hover,.cancel_cart_button button:hover {
    background:#4c5557;
 }